<section class="bg-zinc-900 p-20 my-4">
    <h2 class="text-5xl">About</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit exercitationem quisquam laboriosam nemo sequi, amet quibusdam laborum incidunt, harum sint voluptatum omnis veniam rem praesentium aspernatur voluptatibus possimus non ducimus.</p>
</section>