---
import projects from '../../config/projects.json'
---

<section>
    <h1 class="text-center font-bold text-5xl mt-10">Projects</h1>

    <div class="grid grid-cols-3 gap-4 p-4 mt-10 bg-zinc-900">
        {
            projects.map((project) => (
                <div class="p-10 round-xl">
                    <h2 class="text-2xl font-bold">{project.title}</h2>
                    <p>{project.description}</p>
                </div>
            ))
        }
    </div>
</section>